#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.[ao]
*.la
*.lo
*.so
*.dll
*.exe
deps.mak
.deps/
.libs/
Makefile
Makefile.in

#-----------------------------------------------------------------------
# / (root)
#-----------------------------------------------------------------------
/aclocal.m4
/autom4te.cache
/_build_
/build-aux/
/build-stamp
/codenames
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian
/depcomp
/geany.1
/geany.desktop
/geany.glade.bak
/geany.gladep.bak
/geany.pc
/geany.spec
/geany_private.res
/global.tags.old
/install-sh
/intltool
/intltool-*
/libtool
/localwin32.mk
/.lock-wscript
/.lock-wafbuild
/ltmain.sh
/m4/lt*.m4
/m4/intltool.m4
/m4/libtool.m4
/make_deb.sh
/missing
/mkinstalldirs
/RUN
/stamp-h
/stamp-h1
/stamp-h.in
/*.tar.*
/TODO.*
/.waf-*

#-----------------------------------------------------------------------
# /po/
#-----------------------------------------------------------------------
/po/ChangeLog.save
/po/*.gmo
/po/*.header
/po/.intltool-merge-cache
/po/LINGUAS
/po/Makefile.in.in
/po/Makevars
/po/*.mo
/po/*.pot
/po/POTFILES
/po/POTFILES.ignore
/po/POTFILES.in.missing
/po/POTFILES.in.noi18n
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/stamp-it
/po/.intlcache

#-----------------------------------------------------------------------
# /src/
#-----------------------------------------------------------------------
/src/geany

#-----------------------------------------------------------------------
# /doc/
#-----------------------------------------------------------------------
/doc/Doxyfile
/doc/geany.1
/doc/hacking.html
/doc/*.pdf
/doc/reference
