
[Desktop Entry]
Name=Geany
Comment=A fast and lightweight IDE using GTK2
Comment[de]=Eine kleine und schnelle integrierte Entwicklungsumgebung
Exec=geany
Icon=geany.png
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Application;Development;
Encoding=UTF-8
StartupNotify=true
