
#include <windows.h> // include for version info constants

#define VER_FILEVERSION             1,22,0,0
#define VER_FILEVERSION_STR         "1.22"

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../icons/geany.ico"

VS_VERSION_INFO		VERSIONINFO
FILEVERSION			VER_FILEVERSION
PRODUCTVERSION		VER_FILEVERSION
FILETYPE			VFT_APP
{
	BLOCK "StringFileInfo"
	{
		// U.S. English, Multilingual
		// (see http://msdn.microsoft.com/en-us/library/aa381049%28VS.85%29.aspx)
		BLOCK "040904E4"
		{
			VALUE "CompanyName", ""
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "FileDescription", "Geany"
			VALUE "InternalName", "Geany"
			VALUE "LegalCopyright", "Copyright 2005-2012 by the Geany developers"
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", "Geany.exe"
			VALUE "ProductName", "Geany"
			VALUE "ProductVersion", VER_FILEVERSION_STR
		}
	}
}

