# For complete documentation of this file, please see Geany's main documentation
[styling]
# Edit these in the colorscheme .conf file instead
default=default
comment=comment
tag=tag
class=class
pseudoclass=string_1
unknown_pseudoclass=default
unknown_identifier=default
operator=operator
identifier=keyword_2
doublestring=string_1
singlestring=string_2
attribute=attribute
value=value
id=class
identifier2=keyword_2
variable=identifier_1
important=error
directive=preprocessor
identifier3=keyword_1
pseudoelement=string_2
extended_identifier=keyword_1
extended_pseudoclass=string_1
extended_pseudoelement=string_2
media=parameter

[keywords]
# CSS 1 properties
primary=background background-attachment background-color background-image background-position background-repeat border border-bottom border-bottom-width border-color border-left border-left-width border-right border-right-width border-style border-top border-top-width border-width clear color display float font font-family font-size font-style font-variant font-weight height letter-spacing line-height list-style list-style-image list-style-position list-style-type margin margin-bottom margin-left margin-right margin-top padding padding-bottom padding-left padding-right padding-top text-align text-decoration text-indent text-transform vertical-align white-space width word-spacing
# CSS 2 properties
secondary=azimuth border-bottom-color border-bottom-style border-collapse border-left-color border-left-style border-right-color border-right-style border-spacing border-top-color border-top-style bottom caption-side clip content counter-increment counter-reset cue cue-after cue-before cursor direction elevation empty-cells font-size-adjust font-stretch left max-height max-width min-height min-width orphans outline outline-color outline-style outline-width overflow page-break-after page-break-before page-break-inside pause pause-after pause-before pitch pitch-range play-during position quotes richness right speak speak-header speak-numeral speak-punctuation speech-rate stress table-layout top unicode-bidi visibility voice-family volume widows z-index
css3_properties=align-content align-items align-self alignment-adjust alignment-baseline animation animation-delay animation-direction animation-duration animation-iteration-count animation-name animation-play-state animation-timing-function appearance ascent backface-visibility background-break background-clip background-origin background-size baseline baseline-shift bbox binding bleed bookmark-label bookmark-level bookmark-state bookmark-target border-bottom-left-radius border-bottom-right-radius border-break border-image border-image-outset border-image-repeat border-image-slice border-image-source border-image-width border-length border-radius border-top-left-radius border-top-right-radius box-align box-decoration-break box-direction box-flex box-flex-group box-lines box-orient box-pack box-shadow box-sizing box-sizing break-after break-before break-inside cap-height centerline color-profile column-break-after column-break-before column-count column-fill column-gap column-rule column-rule-color column-rule-style column-rule-width column-span column-width columns crop definition-src descent dominant-baseline drop-initial-after-adjust drop-initial-after-align drop-initial-before-adjust drop-initial-before-align drop-initial-size drop-initial-value fit fit-position flex flex-align flex-basis flex-direction flex-flow flex-grow flex-shrink flex-wrap float-offset font-effect font-emphasize font-emphasize-position font-emphasize-style font-size-adjust font-smooth grid grid-area grid-auto-columns grid-auto-flow grid-auto-rows grid-column grid-column-end grid-column-gap grid-column-start grid-gap grid-row grid-row-end grid-row-gap grid-row-start grid-template grid-template-areas grid-template-columns grid-template-rows hanging-punctuation hyphenate-after hyphenate-before hyphenate-character hyphenate-lines hyphenate-resource hyphens icon image-orientation image-rendering image-resolution inline-box-align justify-content line-break line-stacking line-stacking-ruby line-stacking-shift line-stacking-strategy mark mark-after mark-before marker-offset marks marquee-direction marquee-loop marquee-play-count marquee-speed marquee-style mathline move-to nav-down nav-index nav-left nav-right nav-up opacity order outline-offset overflow-style overflow-wrap overflow-x overflow-y page page-policy panose-1 perspective perspective-origin phonemes presentation-level punctuation-trim rendering-intent resize rest rest-after rest-before rotation rotation-point ruby-align ruby-overhang ruby-position ruby-span size slope src stemh stemv string-set tab-side tab-size target target-name target-new target-position text-align-last text-decoration-color text-decoration-line text-decoration-skip text-decoration-style text-emphasis text-emphasis-color text-emphasis-position text-emphasis-style text-height text-indent text-justify text-outline text-replace text-shadow text-space-collapse text-underline-position text-wrap topline transform transform-origin transform-style transition transition-delay transition-duration transition-property transition-timing-function unicode-range units-per-em voice-balance voice-duration voice-pitch voice-pitch-range voice-rate voice-stress voice-volume white-space-collapse widths word-break word-wrap x-height
pseudoclasses=active checked current disabled empty enabled first-child first-of-type focus hover lang last-child last-of-type link not nth-child nth-last-child nth-last-of-type nth-of-type only-child only-of-type root target visited
pseudo_elements=after before choices first-letter first-line line-marker marker outside repeat-index repeat-item selection slot value
# use wild card with vendor prefixes for future proof, no need to list specific properties
browser_css_properties=^-ms- ^-apple- ^-epub- ^-moz- ^-o- ^-wap- ^-webkit- ^-xv-
browser_pseudo_classes=^-ms- ^-apple- ^-epub- ^-moz- ^-o- ^-wap- ^-webkit- ^-xv-
browser_pseudo_elements=^-ms- ^-apple- ^-epub- ^-moz- ^-o- ^-wap- ^-webkit- ^-xv-

[settings]
# default extension used when saving files
extension=css

# MIME type
mime_type=text/css

# the following characters are these which a "word" can contains, see documentation
#wordchars=_-abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

# single comments, like # in this file
#comment_single=
# multiline comments
comment_open=/*
comment_close=*/

# set to false if a comment character/string should start at column 0 of a line, true uses any
# indentation of the line, e.g. setting to true causes the following on pressing CTRL+d
	#command_example();
# setting to false would generate this
#	command_example();
# This setting works only for single line comments
comment_use_indent=true

# context action command (please see Geany's main documentation for details)
context_action_cmd=

[indentation]
#width=4
# 0 is spaces, 1 is tabs, 2 is tab & spaces
#type=1
