name: Windows/MSYS2 Build
on:
  workflow_dispatch:

jobs:
  msys2-mingw64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: |
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-autotools
            mingw-w64-x86_64-gtk3
            mingw-w64-x86_64-python-docutils
            patch
            rsync
            unzip
            dos2unix
            mingw-w64-x86_64-nsis
      - name: GTK-Bundle
        run: |
          mkdir -p geany_build/bundle/geany-gtk
          cd geany_build/bundle/geany-gtk
          bash $(cygpath -u "${GITHUB_WORKSPACE}")/scripts/gtk-bundle-from-msys2.sh -3
      - name: CI-Build
        run: |
          DESTINATON=$(cygpath -u "${GITHUB_WORKSPACE}")/geany_build
          VERSION=$(autom4te --no-cache --language=Autoconf-without-aclocal-m4 --trace AC_INIT:\$2 configure.ac)
          NOCONFIGURE=1 ./autogen.sh
          export lt_cv_deplibs_check_method=${lt_cv_deplibs_check_method='pass_all'}
          mkdir -p _build
          cd _build
          ../configure --prefix=${DESTINATON}/build/geany --disable-silent-rules
          make -j
          make install
          mkdir -p ${DESTINATON}/release/geany-orig
          rsync -a --delete ${DESTINATON}/build/geany/ ${DESTINATON}/release/geany-orig
      - name: Compile NSIS
        run: |
          VERSION=$(autom4te --no-cache --language=Autoconf-without-aclocal-m4 --trace AC_INIT:\$2 configure.ac)
          python scripts/msys2-geany-release.py ${VERSION}
      - name: Upload Unsigned Artifact
        id: upload-unsigned-artifact
        uses: actions/upload-artifact@v5
        with:
          name: geany-unsigned
          path: geany_build/*.exe
          retention-days: 3
          overwrite: true
          if-no-files-found: error
      - name: SignPath Signing
        uses: signpath/github-action-submit-signing-request@v2.0
        with:
          api-token: '${{ secrets.SIGNPATH_API_TOKEN }}'
          organization-id: '${{ vars.SIGNPATH_ORGANIZATION_ID }}'
          project-slug: 'geany'
          signing-policy-slug: 'test-signing'
          github-artifact-id: '${{ steps.upload-unsigned-artifact.outputs.artifact-id }}'
          wait-for-completion: true
          output-artifact-directory: geany-signed
      - name: Upload Signed Artifact
        uses: actions/upload-artifact@v5
        with:
          name: geany-signed
          path: geany-signed
          retention-days: 3
          overwrite: true
          if-no-files-found: error
